.btn {
  font-family: RoadRadio, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 14px;
  padding: 19px 56px;
}

.btn_primary {
  color: var(--c-white);
  background: var(--c-primary);
  border: 0;

  &:hover {
    background: var(--c-hover);
  }

  &:active {
    background: var(--c-active);
  }

  &:disabled {
    background: var(--c-lines);
    color: var(--c-text-secondary);
  }
}

.btn_outline {
  color: var(--c-black);
  background: var(--c-white);
  border: 2px solid var(--c-primary);

  &:hover {
    background: var(--c-primary);
    color: var(--c-white);
  }

  &:active {
    background: var(--c-active);
    border-color: var(--c-active);
  }

  &:disabled {
    background: var(--c-white);
    border-color: var(--c-lines);
    color: var(--c-text-secondary);
  }
}
