.btn {
  font-family: RoadRadio, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 14px;
  padding: 19px 56px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border: var(--btn-border-width) solid var(--btn-border-color);

  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-color);
  }

  &:active {
    background-color: var(--btn-active-bg);
    border-color: var(--btn-active-border-color);
    color: var(--btn-active-color);
  }

  &:disabled {
    background-color: var(--btn-disabled-bg);
    color: var(--btn-disabled-color);
    border-color: var(--btn-disabled-border-color);
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.btn_primary {
  --btn-bg: var(--c-primary);
  --btn-color: var(--c-white);
  --btn-active-border-color: var(--c-primary);
  --btn-hover-color: var(--c-white);
  --btn-active-bg: var(--c-dark-red);
  --btn-active-color: var(--c-white);
  --btn-hover-bg: var(--c-hover);
  --btn-disabled-bg: var(--c-lines);
  --btn-disabled-color: var(--c-text-secondary);
}

.btn_outline {
  --btn-bg: var(--c-white);
  --btn-border-width: 2px;
  --btn-border-color: var(--c-primary);
  --btn-hover-bg: var(--c-primary);
  --btn-active-border-color: var(--c-dark-red);
  --btn-disabled-color: var(--c-text-secondary);
  --btn-color: var(--c-text-primary);
  --btn-active-color: var(--c-white);
  --btn-hover-color: var(--c-white);
  --btn-disabled-border-color: var(--c-lines);
  --btn-active-bg: var(--c-dark-red);
}

.btn_ghost {
  --btn-bg: transparent;
  --btn-color: var(--c-white);
  --btn-border-color: rgba(255, 255, 255, 0.3);
  --btn-hover-bg: rgba(255, 255, 255, 0.3);
  --btn-border-width: 2px;
  --btn-hover-color: var(--c-white);
}
