<section class="contacts">
  <div class="contacts__left">
    <h2>
      <a class="contacts__phone" href="tel:+79034679851">8 (903) 467 98 51</a>
    </h2>
    <div>
      <a class="contacts__email" href="mailto:info@monevac.ru"
        >info@monevac.ru</a
      >
    </div>
    <div class="contacts__name-info">
      Полное наименование:<br />
      Общество с ограниченной ответственностью «МОНЕВАК»<br />
      Сокращенное наименование: ООО «МОНЕВАК»
    </div>
    <dl class="contacts__dl">
      <dt class="contacts__dt">ИНН:&nbsp;</dt>
      <dd>3448050610</dd>
      <dt class="contacts__dt">КПП:&nbsp;</dt>
      <dd>344801001</dd>
      <dt class="contacts__dt">ОКПО:&nbsp;</dt>
      <dd>67354285</dd>
      <dt class="contacts__dt">ОКАТО:&nbsp;</dt>
      <dd>18401000000</dd>
      <dt class="contacts__dt">ОГРН:&nbsp;</dt>
      <dd>1103461002480</dd>
      <dt class="contacts__dt">Код по ОКВЭД:&nbsp;</dt>
      <dd>51.70</dd>
    </dl>
    <dl class="contacts__dl contacts__dl_mt">
      <dt class="contacts__dt">Банк:&nbsp;</dt>
      <dd>Филиала «Ростовский» ОАО&nbsp;«Альфа-Банк» г.&nbsp;Ростов-на-Дону</dd>
      <dt class="contacts__dt">БИК:&nbsp;</dt>
      <dd>046015207</dd>
      <dt class="contacts__dt">к/с:&nbsp;</dt>
      <dd>30101810500000000207</dd>
      <dt class="contacts__dt">р/с:&nbsp;</dt>
      <dd>40702810926090000003</dd>
    </dl>
    <dl class="contacts__dl contacts__dl_mt">
      <dt class="contacts__dt">Юридический адрес:&nbsp;</dt>
      <dd>
        400080, Волгоградская обл., г.&nbsp;Волгоград <br />ул.&nbsp;Командира
        Рудь, 14А, офис 13
      </dd>
      <dt class="contacts__dt">Почтовый адрес:&nbsp;</dt>
      <dd>
        400080, Волгоградская обл., г.&nbsp;Волгоград <br />ул.&nbsp;Командира
        Рудь, 14А, офис 13
      </dd>
    </dl>
  </div>
  <form class="contacts__form">
    <h2 class="contacts__form-title">Остались вопросы?</h2>
    <input class="input contacts__form-name" placeholder="Ваше имя" />
    <input class="input contacts__form-phone" placeholder="Ваш телефон" />
    <textarea
      class="textarea contacts__form-textarea"
      rows="6"
      placeholder="Ваше сообщение"
    ></textarea>
    <label class="checkbox contacts__checkbox">
      <span class="checkbox__text contacts__checkbox-text">
        Я подтверждаю свое согласие с политикой в отношении
        <a class="contacts__policy" href="#">обработки персональных данных</a>
      </span>
      <input class="checkbox__input" type="checkbox" id="agree" />
      <span class="checkbox__mark"></span>
    </label>
    <button class="btn btn_primary contacts__submit">Задать&nbsp;вопрос</button>
  </form>
</section>
