<footer class="footer">
  <div class="footer__first-top">
    <nav>
      <ul>
        <li class="footer__main-nav-li">
          <a class="footer__main-nav-a" href="#">Упаковочное оборудование</a>
        </li>
        <li class="footer__main-nav-li">
          <a class="footer__main-nav-a" href="#">Пленки</a>
        </li>
        <li class="footer__main-nav-li">
          <a class="footer__main-nav-a" href="#">Пакеты</a>
        </li>
        <li class="footer__main-nav-li">
          <a class="footer__main-nav-a" href="#">Прочие материалы</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__secondary-nav">
      <ul class="footer__secondary-nav-ul">
        <li class="footer__secondary-nav-li">
          <a class="footer__secondary-nav-a" href="#">О Компании</a>
        </li>
        <li class="footer__secondary-nav-li">
          <a class="footer__secondary-nav-a" href="#">Партнеры</a>
        </li>
        <li class="footer__secondary-nav-li">
          <a class="footer__secondary-nav-a" href="#">Доставка</a>
        </li>
        <li class="footer__secondary-nav-li">
          <a class="footer__secondary-nav-a" href="#">Оплата</a>
        </li>
        <li class="footer__secondary-nav-li">
          <a class="footer__secondary-nav-a" href="#">Обмен и возврат</a>
        </li>
        <li class="footer__secondary-nav-li">
          <a class="footer__secondary-nav-a" href="#">Контакты</a>
        </li>
        <li class="footer__secondary-nav-li">
          <a class="footer__secondary-nav-a" href="#">Распродажа</a>
        </li>
        <li class="footer__secondary-nav-li">
          <a class="footer__secondary-nav-a" href="#">Сервис</a>
        </li>
        <li class="footer__secondary-nav-li">
          <a class="footer__secondary-nav-a" href="#">Новости</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer__second-top">
    <div>
      <div class="footer__phones">
        <div>
          <div>
            <a class="footer__phone" href="tel:+74991361718">
              +7 (499) 136-17-18
            </a>
          </div>
          <div>
            <a class="footer__phone" href="tel:+79034679851">
              +7 (903) 467-98-51
            </a>
          </div>
        </div>
        <div>
          <button class="btn btn_ghost footer__callback">Обратный звонок</button>
        </div>
      </div>
      <div class="footer__email-wrapper">
        <a class="footer__email" href="mailto:info@monevac.ru">info@monevac.ru</a>
      </div>
    </div>
    <div class="footer__address">
      Москва ул. Дербеневская, д. 1, стр. 1, подъезд 44,
      офис 6 (станция метро "Павелецкая")
    </div>
  </div>
  <div class="footer__first-bottom">
    © Моневак 2020 | Все права защищены
  </div>
  <div class="footer__second-bottom">
    Разработка и продвижение сайта - TODO
  </div>
  <div class="footer__bottom-sm-only">
    <div>
      © Моневак 2020 | Все права защищены
    </div>
    <div class="footer__bottom-sm-only-trademark">
      Разработка и продвижение сайта - TODO
    </div>
  </div>
</footer>
