.header {
  background: red;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  background: url("data:image/svg+xml,%3Csvg width='32' height='12' viewBox='0 0 32 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0C0.447715 0 0 0.447715 0 1C0 1.55228 0.447715 2 1 2H31C31.5523 2 32 1.55228 32 1C32 0.447715 31.5523 0 31 0H1ZM1 10C0.447715 10 0 10.4477 0 11C0 11.5523 0.447715 12 1 12H16C16.5523 12 17 11.5523 17 11C17 10.4477 16.5523 10 16 10H1Z' fill='%23262633'/%3E%3C/svg%3E%0A")
    center no-repeat;
  width: 32px;
  height: 32px;
  border: 0;
}
