@use '../utils/mixins' as mixins;

.cities {
  --content-padding-top: 80px;
  --content-padding-bottom: 100px;

  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--content-padding-top) var(--content-padding-x)
    var(--content-padding-bottom);

  @include mixins.media-md {
    --content-padding-top: 60px;
    --content-padding-bottom: 80px;

    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.media-sm {
    --content-padding-top: 30px;
    --content-padding-bottom: 60px;

    grid-template-columns: 1fr;
  }
}

.cities__card:last-of-type {
  grid-column: span 2;

  @include mixins.media-sm {
    grid-column: span 1;
  }
}
