@use '../utils/mixins';

.contacts {
  --content-padding-top: 62px;
  --content-padding-bottom: 66px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--content-padding-top) var(--content-padding-x)
    var(--content-padding-bottom);
  column-gap: 53px;
  row-gap: 50px;

  @include mixins.media-md {
    --content-padding-top: 40px;
    --content-padding-bottom: 50px;
  }

  @include mixins.media-sm {
    flex-direction: column;
    --content-padding-top: 30px;
  }
}

.contacts__phone {
  color: inherit;
  text-decoration: none;

  @include mixins.media-sm {
    font-size: 28px;
  }
}

.contacts__email {
  color: var(--c-primary);
  text-decoration: none;
  font-size: 25px;
  line-height: 30px;
}

.contacts__name-info {
  font-size: 17px;
  margin: 20px 0 15px 0;

  @include mixins.media-md {
    font-size: 14px;
  }
}

.contacts__dl {
  color: var(--c-text-secondary);
  font-size: 13px;
  line-height: 20px;
}

.contacts__dt {
  float: left;
}

.contacts__dl_mt {
  margin-top: 24px;
}

.contacts__left {
  flex-basis: 50%;
}

.contacts__form {
  display: grid;
  flex-basis: 50%;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include mixins.media-md {
    gap: 10px;
  }
}

.contacts__form-title {
  grid-column: 1 / span 2;
}

.contacts__form-name {
  margin-right: 5px;

  @include mixins.media-md {
    margin: 0;
    grid-column: 1 / span 2;
  }
}

.contacts__form-phone {
  margin-left: 5px;

  @include mixins.media-md {
    margin: 0;
    grid-column: 1 / span 2;
  }
}

.contacts__form-textarea-container {
  grid-column: 1 / span 2;
}

.contacts__form-textarea {
  resize: none;
  margin-top: 8px;

  @include mixins.media-md {
    margin: 0;
  }
}

.contacts__checkbox-container {
  grid-column: 1 / span 2;

  @include mixins.media-md {
    margin-top: 10px;
  }
}

.contacts__checkbox-error {
  font-size: 12px;
  line-height: 18px;
  color: var(--c-primary);
  display: none;
}

.contacts__checkbox-error_visible {
  display: block;
}

.contacts__policy {
  display: inline;
  color: var(--c-text-primary);
  text-decoration: none;
}

.contacts__checkbox-text {
  color: var(--c-text-secondary);
}

.contacts__submit {
  width: min-content;
  margin-top: 10px;

  @include mixins.media-md {
    margin-top: 20px;
  }

  @include mixins.media-sm {
    margin-top: 10px;
  }
}
