@use '../utils/breakpoints' as breakpoints;
@use '../utils/mixins' as mixins;

.header {
  background: var(--c-white);
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--content-padding-x);

  @include mixins.media-md {
    height: 65px;
  }
}

.header__left,
.header__right {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__left {
  justify-content: flex-start;
}

.header__right {
  justify-content: flex-end;
}

.header__burger {
  background: url("data:image/svg+xml,%3Csvg width='32' height='12' viewBox='0 0 32 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0C0.447715 0 0 0.447715 0 1C0 1.55228 0.447715 2 1 2H31C31.5523 2 32 1.55228 32 1C32 0.447715 31.5523 0 31 0H1ZM1 10C0.447715 10 0 10.4477 0 11C0 11.5523 0.447715 12 1 12H16C16.5523 12 17 11.5523 17 11C17 10.4477 16.5523 10 16 10H1Z' fill='%23262633'/%3E%3C/svg%3E%0A")
    center no-repeat;
  width: 32px;
  height: 32px;
  border: 0;
  display: block;
}

.header__nav {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 59px;

  @include mixins.media-md {
    margin-left: 48px;
  }

  @include mixins.media-sm {
    display: none;
  }
}

.header__nav-ul {
  list-style-type: none;
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 30px;
}

.header__stat-btn,
.header__loupe-btn {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}

.header__stat-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C6.55228 0 7 0.447715 7 1V15C7 15.5523 6.55228 16 6 16C5.44772 16 5 15.5523 5 15V1C5 0.447715 5.44772 0 6 0ZM1 7C1.55228 7 2 7.44772 2 8L2 15C2 15.5523 1.55229 16 1 16C0.447715 16 0 15.5523 0 15V8C0 7.44772 0.447715 7 1 7ZM12 6C12 5.44772 11.5523 5 11 5C10.4477 5 10 5.44772 10 6V15C10 15.5523 10.4477 16 11 16C11.5523 16 12 15.5523 12 15V6Z' fill='%23C9C9CF'/%3E%3C/svg%3E%0A");
  margin-right: 16px;
}

.header__loupe-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 8.5C3 4.91015 5.91015 2 9.5 2C13.0899 2 16 4.91015 16 8.5C16 12.0899 13.0899 15 9.5 15C5.91015 15 3 12.0899 3 8.5ZM9.5 0C4.80558 0 1 3.80558 1 8.5C1 10.6524 1.79999 12.6179 3.11886 14.1154C3.03248 14.161 2.95137 14.2202 2.87868 14.2929L0.292893 16.8787C-0.0976311 17.2692 -0.0976311 17.9024 0.292893 18.2929C0.683417 18.6834 1.31658 18.6834 1.70711 18.2929L4.29289 15.7071C4.38897 15.611 4.46141 15.5003 4.51022 15.382C5.91149 16.3998 7.63565 17 9.5 17C14.1944 17 18 13.1944 18 8.5C18 3.80558 14.1944 0 9.5 0Z' fill='%23C9C9CF'/%3E%3C/svg%3E%0A");
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 59px;

  @include mixins.media-md {
    margin: 0 0 0 48px;
  }

  @include mixins.media-sm {
    display: none;
  }
}

.header__logo {
  @include mixins.media-md {
    display: none;
  }

  @include mixins.media-sm {
    display: inline-block;
    height: 40px;
  }
}

.header__logo-bw {
  display: none;

  @include mixins.media-md {
    display: inline-block;
  }

  @include mixins.media-sm {
    display: none;
  }
}

.header__phone {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 6px;
  font-size: 15px;
  line-height: 18px;
}

.header__email {
  color: var(--c-text-secondary);
  font-weight: 400;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
}

.header__nav-item-link {
  color: inherit;
  text-decoration: none;
  font-size: 15px;

  @include mixins.media-md {
    font-size: 14px;
  }
}

.header__nav-item_service,
.header__request {
  @include mixins.media-md {
    display: none;
  }
}

@include mixins.media(810px) {
  .header__nav-item_equip {
    display: none;
  }
}
